<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Series DB</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> |
            <a href="/Add">Add Series</a> |
            <a href="/ListSeries">List Series</a> |
            <a href="/GenreAverages">Genre Ratings</a> |
            <a href="/CreatorAverages">Creator Ratings</a>
            <a href="/YearAverages">Year Ratings</a>
            <a href="/CompanyAverages">Company Ratings</a>
        </nav>
    </header>
    <main role="main" class="content">
        @RenderBody()
    </main>
</body>
</html>
