@page
<h2>Welcome to Series DB</h2>
<a href="/Add">Add a new series</a>
<a href="/ListSeries">List series</a>
<a href="/GenreAverages">List genre ratings</a>
<a href="/CreatorAverages">List creator ratings</a>
<a href="/YearAverages">Year Ratings</a>
<a href="/CompanyAverages">Company Ratings</a>