@page
@model Series.Pages.YearAveragesModel
@{
    ViewData["Title"] = "Average Ratings per Year";
    Layout = "_Layout";
}

<h2>Average Ratings per Year</h2>


<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>
                <a href="YearAverages?sortOrder=@(Model.SortOrder == "asc" ? "desc" : "asc")"
                   style="text-decoration:none; color:white;">
                    Rating @(Model.SortOrder == "asc" ? "↑" : "↓")
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var y in Model.YearAverages)
        {
            <tr>
                <td>@y.ReleaseYear</td>
                <td>@y.AverageRating.ToString("0.00")</td>
            </tr>
        }
    </tbody>
</table>
